{% if NPM_TOKEN %}
contains -- NPM_TOKEN:{{ NPM_TOKEN_KEYCHAIN.service }}:{{ NPM_TOKEN_KEYCHAIN.account }} $NPM_TOKEN_KEYCHAIN_ITEMS
or set -ga NPM_TOKEN_KEYCHAIN_ITEMS NPM_TOKEN:{{ NPM_TOKEN_KEYCHAIN.service }}:{{ NPM_TOKEN_KEYCHAIN.account }}
{% endif %}
