# Ansible role to install and configure all security apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install security apps
  ansible.builtin.shell: "{{ item }}"
  loop: "{{ SECURITY_APPS }}"
