# Ansible role to remove unnecessary dependencies and clear cache
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Removing unnecessary dependencies ...
  ansible.builtin.shell: brew autoremove

- name: Clearing cache ...
  ansible.builtin.shell: brew cleanup --prune=all

- name: Removing unused versions ...
  ansible.builtin.shell: brew cleanup
