set -gx JIRA_PROJECT {{ JIRA_PROJECT }}
{% if DID_NPM_TOKEN %}

contains -- DID_NPM_TOKEN:{{ DID_NPM_TOKEN_KEYCHAIN.service }}:{{ DID_NPM_TOKEN_KEYCHAIN.account }} $NPM_TOKEN_KEYCHAIN_ITEMS
or set -ga NPM_TOKEN_KEYCHAIN_ITEMS DID_NPM_TOKEN:{{ DID_NPM_TOKEN_KEYCHAIN.service }}:{{ DID_NPM_TOKEN_KEYCHAIN.account }}
{% endif %}
