# Ansible role to install and configure all AI apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install AI formulas
  community.general.homebrew:
    name: "{{ AI_FORMULAS }}"
    state: present

- name: Install AI casks
  community.general.homebrew_cask:
    name: "{{ AI_CASKS }}"
    state: present

- name: Creating gemini config directory
  ansible.builtin.file:
    path: "{{ HOME }}/.gemini"
    state: directory

- name: Configuring gemini
  ansible.builtin.file:
    src: "{{ role_path }}/files/gemini/settings.json"
    dest: "{{ HOME }}/.gemini/settings.json"
    state: link
    force: true
