# Ansible role to install and configure all chat apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install chat apps
  ansible.builtin.shell: brew install --force {{ item }}
  loop: "{{ CHAT_APPS }}"
