# Ansible role to install and configure all development apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install development apps
  community.general.homebrew:
    name: "{{ DEVELOPMENT_FORMULAS }}"
    state: present

- name: Install databases formulas
  community.general.homebrew:
    name: "{{ DATABASE_FORMULAS }}"
    state: present

- name: Install databases casks
  community.general.homebrew_cask:
    name: "{{ DATABASE_CASKS }}"
    state: present

- name: Configuring git
  ansible.builtin.file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "{{ HOME }}/{{ item }}"
    state: link
    force: true
  with_items:
    - .gitconfig
    - .gitignore

- name: Configuring lazygit
  ansible.builtin.file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "{{ HOME }}/Library/Application Support/{{ item }}"
    state: link
    force: true
  with_items:
    - lazygit/config.yml

- name: Configuring npmrc
  ansible.builtin.file:
    src: "{{ role_path }}/files/.npmrc"
    dest: "{{ HOME }}/.npmrc"
    state: link
    force: true
