# Ansible role to install and configure all editors apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install editors apps
  community.general.homebrew_cask:
    name: "{{ EDITORS_CASKS }}"
    state: present

- name: Configuring Visual Studio Code
  ansible.builtin.shell: code --sync on
