# Ansible role to install and configure all editors apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

# Install local packages depending on the platform
- block:
    - name: Load system variables
      include_vars: vars/linux.yml

    - name: Install editors apps
      ansible.builtin.shell: yay --quiet --sync --noconfirm --removemake {{ item }}
      loop: "{{ EDITORS_APPS }}"

  when:
    - ansible_os_family != 'Windows'
    - ansible_os_family != 'Darwin'

# Install local packages depending on the platform
- block:
    - name: Load system variables
      include_vars: vars/mac.yml

    - name: Install editors apps
      ansible.builtin.shell: brew install --force {{ item }}
      loop: "{{ EDITORS_APPS }}"

  when: ansible_os_family == 'Darwin'

- name: Configuring Visual Studio Code
  ansible.builtin.shell: code --sync on
