# Ansible role to install and configure all editors apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install editors apps
  ansible.builtin.shell: brew install --force {{ item }}
  loop: "{{ EDITORS_APPS }}"

- name: Configuring Visual Studio Code
  ansible.builtin.shell: code --sync on
