# Ansible role to install and configure all infrastructure apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install infrastructure formulas
  community.general.homebrew:
    name: "{{ INFRASTRUCTURE_FORMULAS }}"
    state: present

- name: Install infrastructure casks
  community.general.homebrew_cask:
    name: "{{ INFRASTRUCTURE_CASKS }}"
    state: present

- name: Configuring docker
  ansible.builtin.shell: brew link docker

- name: Configuring docker plugins
  ansible.builtin.file:
    src: "{{ role_path }}/files/docker/config.json"
    dest: "{{ HOME }}/.docker/config.json"
    state: link
    force: true
