# Ansible role to install and configure all multimedia apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install multimedia formulas
  community.general.homebrew:
    name: "{{ MULTIMEDIA_FORMULAS }}"
    state: present

- name: Install multimedia casks
  community.general.homebrew_cask:
    name: "{{ MULTIMEDIA_CASKS }}"
    state: present
