# Ansible role to install and configure all multimedia apps
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install multimedia apps
  ansible.builtin.shell: brew install --force {{ item }}
  loop: "{{ MULTIMEDIA_APPS }}"
