# Ansible role to install and configure other apps without category
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install other formulas
  community.general.homebrew:
    name: "{{ OTHER_FORMULAS }}"
    state: present

- name: Install other casks
  community.general.homebrew_cask:
    name: "{{ OTHER_CASKS }}"
    state: present
