# Ansible role to install and configure other apps without category
# Author: Jose Manuel Rosa <jmanuelrosa@duck.com> (https://jmanuelrosa.dev)
---

- name: Load system variables
  include_vars: vars/main.yml

- name: Install other tools
  ansible.builtin.shell: brew install --force {{ item }}
  loop: "{{ OTHER_TOOLS }}"

  # - name: Install nnn plugins
  #   ansible.builtin.shell: 'sh -c "$(curl -Ls https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs)"'
  #   args:
  #     warn: false
